.rs-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.rs-test {
  justify-content: space-evenly;
}

.drawing {
  background-color: #303030 !important;
  margin: 2vh;
  padding: 2vh;
}